##############################################################################
# Core Configuration
#
# Basic settings that should be changed by all projects.
##############################################################################

# The id of the mod packaged by this project.
# This must exist as a directory in the mods directory and should not contain spaces.
MOD_ID="sa"

# The OpenRA engine version to use for this project.
ENGINE_VERSION="386f691c2e1f469596ef6f58e258a10a176bdc3d"

# .dll filenames compiled by the mod solution for use by the runtime assembly check
WHITELISTED_MOD_ASSEMBLIES="OpenRA.Mods.OpenSA.dll"

# Discord Rich Presence Integration configuration.
DISCORD_APP_ID="754764145668128848"

##############################################################################
# Advanced Configuration
#
# Most projects will not need to modify these
##############################################################################

# Automatic engine managment will treat the OpenRA engine files like a read-only dependency.
# Disable this if you would like to modify or manager your own engine files.
AUTOMATIC_ENGINE_MANAGEMENT="True"

# The URL to download the engine files from when AUTOMATIC_ENGINE_MANAGEMENT is enabled.
AUTOMATIC_ENGINE_SOURCE="https://github.com/OpenRA/OpenRA/archive/${ENGINE_VERSION}.zip"

# Temporary file/directory names used by automatic engine management.
# Paths outside the SDK directory are not officially supported.
AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="./engine_temp"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="engine.zip"
ENGINE_DIRECTORY="./engine"
